<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Kode lainnya -->
    
    <!-- Sisipkan kode pelacakan Clarity di sini -->
    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "jzredpoqyu");
    </script>
    
    <!-- Kode lainnya -->
    
    <!-- Jangan lupa sisipkan tag <head> dan tag penutup </head> -->
</head>
<body>
    <header class="header">
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <div class="container header__container">
            {{ partial "logo.html" . }}
            {{ partial "menu.html" . }}
        </div>
    </header>

    <!-- Konten situs Anda -->
</body>
</html>
